<?xml version="1.0" encoding="UTF-8" ?>
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>zergling_big_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{793,874},{793,874}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{133,60},{793,874}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>zergling_big_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,874},{793,874}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{133,60},{793,874}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>zergling_big_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{793,0},{793,874}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{133,60},{793,874}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
            <key>zergling_big_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{793,874}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false />
                <key>sourceColorRect</key>
                <string>{{133,60},{793,874}}</string>
                <key>sourceSize</key>
                <string>{1000,1000}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <string>2</string>
            <key>realTextureFileName</key>
            <string>zergling_big.png</string>
            <key>size</key>
            <string>{1586,1748}</string>
            <key>smartupdate</key>
            <string>BindImage2.4</string>
            <key>textureFileName</key>
            <string>zergling_big.png</string>
        </dict>
    </dict>
</plist>
